
    .nav {
        text-align: center;
        &__menu {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            transition: 250ms transform cubic-bezier(0, 0, .58, 1);
            width: 100%;
            overflow-y: auto;
            z-index: 10;
            background: Khaki;
            background-image: none !important;
            text-align: center;
            padding: 0 10px;
            transform: translateX(-100%);

            &--hide {
                transform: translateX(-100%);
            }

            &--show {
                transform: translateX(0);
            }
        }

        &__list {
            width: 65%;
            margin: 16% auto auto auto;
            text-align: center;
        }

        &__open {
            position: fixed;
            border-bottom: none !important;
            right: 30px;
            font-size: 2.2em;
            &:visited,
            &:focus {
                border-bottom: none !important;
            }
        }
        &__open:after {
            content: 'Info';
            font-size: 10pt;
            display: block;
            position: relative;
            margin-left: 24px;
            top: -10px;
        }
        &__close {
            position: absolute;
            border-bottom: none !important;
            right: 34px;
            top:  37px;
            font-size: 1.8em;
            &:visited,
            &:focus {
                border-bottom: none !important;
            }
        }
        @media all and (min-width: 600px) {
            &__open {
                right: 60px;
                font-size: 4em;
                &:after {
                    font-size: 12pt;
                    margin-left: 28px;
                    top: -20px;
                }
            }
            &__close {
                right: 58px;
                font-size: 3em;
                top: 58px;
                &:after {
                    font-size: 12pt;
                    margin-left: 28px;
                    top: -20px;
                }
            }
        }

        &__link {
            margin: 1vh 0;
            padding: 8px;
            list-style: none;
            position: relative;
            a {
                background: white;
                border-radius: 6px;
                box-shadow: inset 2px 2px 0 LightBlue;
                color: Maroon;
                color: Maroon;
                display: block;
                font-size: 1.2em;
                font-weight: bold;
                line-height: 1.2em;
                padding: 0.6em 0.5em 0.8em 0.5em;
                text-decoration: none;
                &:link, &:visited, &:hover, &:active, &:focus {
                    border-bottom: none;
                    padding-bottom: 0.6em;
                }
            }
        }

        @media all and (min-width: 600px) {
            &__list {
                margin: 16% auto auto auto;
            }
            &__link {
                margin: 80px 0;
                margin: 4vh 0;
                padding: 12px;
            }

        }

    }
