table {
	margin: 0 auto;
	width: 90%;
	margin-top: 2em;
	margin-bottom: 8em;
}

label {
	display: inline-block;
	margin-right: 6px;
}

input[type="search"] {
  display: inline-block;
  margin: 1em auto auto auto;
  width: 20%;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="search"]:focus {
  outline: none;
}

button {
	
}