---
layout: events
weight: 1
title: "Home"
---

<ul class="events__list">

	{% for event in site.data.events %}

		<li class="module events__list-item" id="NWSpoCo-Event-{{ forloop.index }}">

			{% include calendar.html event=event %}

			<div class="events__details">
				<span class="events__list-text date-wrapper">Date : <time class="events__time" datetime="{{ event.date }}">{{ event.date | date_to_string }}, {{ event.date | date: "%k:%M" }}</time></span>
				<span class="events__list-text day-of-week">Day : {{ event.date | date: "%A" }}</span>
				<span class="events__list-text distance">Distance : {{ event.distance }}</span>
				<span class="events__list-text course">Course : {{ event.course }}</span>
				<span class="events__list-text price">Price : {{ event.price }}</span>
				<span class="events__list-text club">{{ event.club }}</span>
				<span class="events__list-text contact dont-break-out">Website : <a href="{{ event.web }}">{{ event.web }}</a></span>
				<span class="events__list-text date-wrapper">Closing date : <time class="events__time--alt" datetime="{{ event.closing-date }}">{{ event.closing-date | date: "%A, %B %-d" }}</time></span>
			</div>
			
			{% include social-media.html event=event index=forloop.index %}

		</li>

	{% endfor %}

</ul>
