<p class="calendar events__share-item">
	<span class="icon-calendar"></span> <span class="addtocalendar atc-style-modern-gray">
	<var class="atc_event">
		<var class="atc_date_start">{{ include.event.date }}</var>
		<var class="atc_date_end">{{ include.event.date }}</var>
		<var class="atc_timezone">Europe/London</var>
		<var class="atc_title">SpoCo NW event {{ include.event.club }}</var>
		<var class="atc_description">SpoCo {{ include.event.distance }}, {{ include.event.course }}</var>
		<var class="atc_location">{{ include.event.course }}</var>
		<var class="atc_organizer">{{ include.event.club }}</var>
	</var>
</p>