.results {

	padding-bottom: 10em;

	&__table {
		margin-bottom: 8em;
		margin-top: 2em;
		margin: 0 auto;
		width: 90%;
	}
	
	&__controls {
	
		margin-bottom: 30px;

		label {
			display: inline-block;
			margin-right: 6px;
		}

		input[type="search"] {
			appearance: none;
			border-radius: none;
			box-shadow: none;
			display: inline-block;
			font-size: 16px;
			margin: 1em auto auto auto;
			width: 20%;
		}

		input[type="search"]:focus {
			outline: none;
		}
	
	}

}