// colours

$bg: WhiteSmoke;

$body_copy: #191919;

$primary: rgb(254,0,0);

$secondary: rgb(101,101,101);

$charcoal: darken($secondary, 28%);

$highlight: darken($primary, 32%);

$white: White;

// breakpints

$small: 600px;

$large: 1200px;